# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [2]:
num_1=6

In [3]:
print (num_1)

6

#### 2. asign any number of type float to the variable "num_2"

In [5]:
num_2=9.6

print (num_2)

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [6]:
total = num_1 + num_2

In [7]:
print (total)

15.6

#### 4. check the type of variable "total"

In [8]:
type(total)

float

#### 5. assign variable "height" with your height

In [9]:
height = 1.75

print (height)

#### 6. asign variable "mass" with your weight

In [10]:
mass = 72

In [11]:
print (mass)

72

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass/(height*height)

In [14]:
print (bmi)

23.510204081632654

#### 8. print value from "bmi" variable

In [15]:
print (bmi)

23.510204081632654

# String

#### 1. Create variable "name" with your first name

In [16]:
name = "Ripudaman"

#### 2. Create variable "surname" with your surname

In [19]:
surname = "Bevli"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [20]:
name_surname = name +" "+ surname

#### 4. print variable "name_surname"

In [21]:
print (name_surname)

Ripudaman Bevli

#### 5. print first letter from variable "name_surname"

In [22]:
print(name_surname[0])

R

#### 6. print your name (without empty space) from variable "name_surname"

In [ ]:
name_surname = name+surname

In [24]:
print(name_surname)

RipudamanBevli

#### 7. print your surname 10x (use variable surname)

In [25]:
print((surname+ " ")*10)

Bevli Bevli Bevli Bevli Bevli Bevli Bevli Bevli Bevli Bevli

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [26]:
name_surname = name + " " + surname

In [28]:
greeting = "Hello my name is "+" "+name_surname

#### 9. print "message" variable

In [29]:
print (greeting)

Hello my name is  Ripudaman Bevli

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [34]:
str1 = "JohnDipPeta"
length = (len(str1)//2)
print (length)

5

In [37]:
str1[length-1:length+2]

'Dip'

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [38]:
s1 = "Ault"
s2 = "Kelly"

In [39]:
s3 = s1[0:len(s1)//2]
s4 = s1[len(s1)//2:len(s1)]

In [40]:
s3 + s2 + s4

'AuKellylt'

## List

#### 1. create empty list with name "empty_list"

In [43]:
empty_list = []

#### 2. create list "heights" with five random values

In [42]:
heights = [1.55,1.66,1.77,1.88,1.99]

#### 3. print heights

In [44]:
print (heights)

[1.55, 1.66, 1.77, 1.88, 1.99]

#### 4. print type of variable "heights"

In [45]:
type(heights)

list

#### 5. print second value from "heights"

In [46]:
heights[1]

1.66

#### 6. assign last three values from "heights" to another list "heights_2"

In [49]:
heights_2 = heights[2:len(heights)]

#### 7. print "heights_2"

In [50]:
heights_2

[1.77, 1.88, 1.99]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [51]:
list_all = heights + heights_2

#### 9. print "list_all"

In [53]:
print (list_all)

[1.55, 1.66, 1.77, 1.88, 1.99, 1.77, 1.88, 1.99]

#### 10. print the type of "list_all"

In [54]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [55]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [56]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

tuples are immutable while lists are mutable

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [58]:

empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [59]:
heights_dict = {'Ripudaman': '1.75'}

#### 3. asign another name and height to `heights_dict`

In [60]:
heights_dict2 = {'bevli': '1.80'}

In [61]:
heights_dict.update(heights_dict2)

#### 4. print `heights_dict` dictionary

In [62]:
heights_dict

{'Ripudaman': '1.75', 'bevli': '1.80'}

#### 5. print your height from the `heights_dict` dictionary

In [64]:
heights_dict['Ripudaman']

'1.75'

#### 6. print all values from `heights_dict` dictionary

In [65]:
list(heights_dict.values())

['1.75', '1.80']

#### 7. print all keys from `heights_dict` dictionary

In [67]:
list(heights_dict.keys())

['Ripudaman', 'bevli']