# UDFs in Python

#### Greeter
Write a function that takes in a person's name, and prints out a greeting.
The greeting must be at least three lines, and the person's name must be in each line.
Use your function to greet at least **three** different people.

**Bonus:** Store your three people in a list, and call your function from a for loop.


**Example Output:**

Hello John!<br>
Hello John!<br>
Hello John!<br>

In [2]:
names = ["John", "Singh", "Bevli"]

In [5]:
def hello_person(salud,names):
    for i in names:
        print(salud,i)
        
hello_person('hello',names)

hello John
hello Singh
hello Bevli

#### Full Names
Write a function that takes in a first name and a last name, and prints out a nicely formatted full name, in a sentence. Your sentence could be as simple as, "Hello, full_name."

In [6]:
def firstlast(salud, first, last):
    print(salud, first, last)

firstlast("Hello,","Ripudaman","Bevli")

Hello, Ripudaman Bevli

#### Addition Calculator
Write a function that takes in two numbers, and adds them together. Make your function print out a sentence showing the two numbers, and the result.

**Example Output:**

The sum of 2 and 3 is 5.

In [11]:
def addition(num1, num2):
    sum = num1+num2
    print("The sum of",num1,"and",num2,"is",sum)
num1=2
num2=3
addition(num1,num2)

The sum of 2 and 3 is 5

#### Return Calculator
Modify Addition Calculator so that your function **returns** the sum of the two numbers. The printing should happen outside of the function.

In [18]:
def addition2(num1,num2):
    sum = num1+num2
    return sum

num1=6
num2=9
print ("The sum is",addition2(num1,num2))

The sum is 15

#### Sum everything in the list

Write a Python function to sum all the numbers in a list

In [20]:
def addition(list1):
    length = len(list1)
    sum=0
    for i in range(length):
        sum=sum+list1[i]
    return sum

list1=[11,22,33,44,55,66]
print ("sum of numbers is", addition(list1))

sum of numbers is 231

#### Reverse string

Write a Python program to reverse a string.

Sample String : "1234abcd" <br>
Expected Output : "dcba4321"

In [21]:
string = "1234abcd"
string[::-1]

'dcba4321'

#### Range check

Write a Python function to check whether a number is in a given range. 

Inputs: number, tuple of min and max<br>
Outputs: True/False

In [23]:
def isinrange(*args):
    numb = args[0]
    for n in args:
        if n < numb + n > numb:
            print("True")
            
        elif n in range(0,9):
                print("True")
        else:
                print("False")
            
                
t1 = (1,2,3,4,5)
isinrange(t1)

True